html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.content {
  max-width: 50rem;
  margin: auto;
}

.title {
  font-family: "bluu_nexttitling", serif;
  font-size: 4rem;
  margin-bottom: 0;
}

.author {
  font-family: "blocus", serif;
  font-size: 2rem;
  margin-top: 0;
}

.content p {
  font-family: "IBM Plex Mono", monospace;
  max-width: 30rem;
}

.content img {
  max-width: 100%;
}

.content div {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .content div {
    display: flex;
    margin-bottom: 3rem;
  }

  .content div:nth-child(even) {
    flex-direction: row-reverse;
  }

  .content div:nth-child(odd) p:last-child,
  .content div:nth-child(odd) img:last-child {
    margin-left: 1rem;
  }

  .content div:nth-child(even) p:first-child,
  .content div:nth-child(even) img:first-child {
    margin-left: 1rem;
  }

  #starbucks {
    margin-top: 10rem;
  }

  #restart img {
    margin-right: 30rem;
  }
}
